<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Naznin Basheer</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="body">
        <div class="header">
            <a href="/" class="back-button">Home</a>
            <a href="/cont" class="contact-button">Contact</a>
        </div>
    <section class="aboutsection">
        <h1 class="animate">About Me</h1>
        <p class="animate"><span class="sp1">Hello  <i class="fa-solid fa-hand-sparkles"></i></span> I'm <span>Naznin Basheer</span>,
             <br>a passionate developer and MVoc Software Application student at CUSAT.
              My journey in the tech world has been fueled by my love for creating efficient and user-friendly applications.
               Whether it's coding, designing, or problem-solving, I strive to bring creativity and precision to everything I do.</p>
               
    </section>
</div>
    <div class="cont">
        <section class="education-section">
            <h2 class="animate">Education Journey</h2>
            <div class="education-item">
                <div class="year">2024</div>
                <div class="c123">
                    <h3>MVoc Software Application</h3>
                    <p>Currently pursuing a Master of Vocational Education in Software Application at CUSAT,
                         focusing on advanced programming techniques and software development.</p>
                </div>
            </div><hr>
            <div class="education-item">
                <div class="year">2021</div>
                <div class="c123">
                    <h3>Bachelor's in Computer Application</h3>
                    <p>Completed my undergraduate studies in Computer Application, where I gained a solid foundation in programming,
                         algorithms, and software engineering.</p>
                </div>
            </div>
            <hr>
            <div class="education-item">
                <div class="year">2019</div>
                <div class="c123">
                    <h3>Higher Secondary</h3>
                    <p>Completed my Higher Secondary studies in Computer Science, which paved the way to  my computer field </p>
                </div>
            </div>
            
        </section>
        
</div>
<div class="b12">
    <h3>Visit Profile  </h3>
    <div class="social-icons">
        <a href="www.linkedin.com/in/naznin-basheer21" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
       <a href="https://github.com/nazninbasheer" target="_blank"> <i class="fa-brands fa-github"></i></a>
    </div>
</div>
<footer>
    <p>Made With  <i class="fa-solid fa-heart"></i> & <i class="fa-solid fa-fire"></i> By <span>Naznin Basheer</span> </p>
</footer>
    <script src="JS/script.js"></script>

</body>
</html>
